* {
  box-sizing: fixed;
  width: 110%;
}
body {
  font-size: 14px;
}
.v7_3 {
  width: 950px/7890px;
  height: 4500px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.v21_47 {
  width: 950px/7890px;
  height: 593px;
  background: url("../images/v21_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1469px;
  left: 407px;
  overflow: hidden;
}
.v15_87 {
  width: 386px;
  height: 586px;
  background: rgba(43,43,43,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v15_90 {
  width: 386px;
  height: 586px;
  background: rgba(43,43,43,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 741px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v2_11 {
  width: 950px/7890px;
  height: 70px;
  background: linear-gradient(rgba(194,194,194,1), rgba(194,194,194,0));
  opacity: 1;
  position: absolute;
  top: 1213px;
  left: 0px;
  overflow: hidden;
}
.v17_17 {
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(194,194,194,1), rgba(194,194,194,0));
  opacity: 1;
  position: absolute;
  top: 2400px;
  left: 156px;
  overflow: hidden;
}
.v18_123 {
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(194,194,194,1), rgba(194,194,194,0));
  opacity: 1;
  position: absolute;
  top: 3555px;
  left: 156px;
  overflow: hidden;
}
.v21_14 {
  width: 778px;
  height: 419px;
  background: url("../images/v21_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 419px;
  left: 188px;
  overflow: hidden;
}
.v7_25 {
  width: 753px;
  height: 390px;
  background: url("../images/v7_25.png");
  opacity: 1;
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 14px;
  left: 12px;
}
.v21_13 {
  width: 778px;
  height: 419px;
  background: url("../images/v21_13.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_4 {
  width: 778px;
  height: 419px;
  background: rgba(228,228,228,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v2_10 {
  width: 665px;
  height: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 55px;
  font-size: 28px;
  font-family: Times New Roman;
  font-weight: Bold;
  opacity: 1;
  text-align: justified;
}
.v14_57 {
  width: 100%;
  height: 32px;
  background: url("../images/v14_57.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1222px;
  left: 5%;
  overflow: hidden;
}
.v2_14 {
  width: 100%;
  height: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 15px;
  font-family: Times New Roman;
  font-weight: Bold Italic;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v21_12 {
  width: 134px;
  height: 42px;
  background: url("../images/v21_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3569px;
  left: 59px;
  overflow: hidden;
}
.v18_124 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Bold Italic;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v21_21 {
  width: 100%;
  height: 437px;
  background: url("../images/v21_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2972px;
  left: 61px;
  overflow: hidden;
}
.v7_26 {
  width: 112px;
  height: 111px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 1854px;
  overflow: hidden;
}
.v7_27 {
  width: 62px;
  height: 92px;
  background: url("../images/v7_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 23px;
  overflow: hidden;
}
.v7_28 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_29 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 30px;
  left: 0px;
}
.v7_30 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 31px;
}
.v7_31 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 61px;
  left: 0px;
}
.v7_32 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 0.800000011920929;
  position: absolute;
  top: 0px;
  left: 31px;
}
.v7_42 {
  width: 427px;
  height: 423px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 159px;
  overflow: hidden;
}
.v7_43 {
  width: 392px;
  height: 82px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 17px;
}
.v7_44 {
  width: 368px;
  height: 309px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 17px;
  overflow: hidden;
}
.v7_45 {
  width: 359px;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 5px;
}
.v18_104 {
  width: 213px;
  height: 191px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 4px;
  overflow: hidden;
}
.v18_105 {
  width: 208px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 3px;
}
.v7_46 {
  width: 70px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1689px;
  overflow: hidden;
}
.v7_47 {
  width: 70px;
  height: 68px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_48 {
  width: 70px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1783px;
  overflow: hidden;
}
.v7_49 {
  width: 70px;
  height: 70px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_20 {
  width: 712px;
  height: 200px;
  background: url("../images/v21_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 733px;
  overflow: hidden;
}
.v7_50 {
  width: 512px;
  height: 139px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 200px;
  overflow: hidden;
}
.v7_51 {
  width: 512px;
  height: 138px;
  background: rgba(17,17,15,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_52 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_53 {
  width: 166px;
  height: 162px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
}
.v7_54 {
  width: 236px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 1690px;
  overflow: hidden;
}
.v7_55 {
  width: 78px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_56 {
  width: 236px;
  height: 78px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_16 {
  width: 100%;
  height: 56px;
  background: url("../images/v21_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_118 {
  width: 100%;
  height: 56px;
  background: linear-gradient(rgba(235,235,235,0), rgba(235,235,235,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_119 {
  width: 493px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 170px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v18_120 {
  width: 493px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 1460px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v21_17 {
  width: 386px;
  height: 586px;
  background: url("../images/v21_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1496px;
  left: 440px;
  overflow: hidden;
}
.v15_88 {
  width: 386px;
  height: 586px;
  background: rgba(227,227,227,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v16_6 {
  width: 362px;
  height: 440px;
  background: url("../images/v16_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 12px;
  overflow: hidden;
}
.v16_5 {
  width: 385px;
  height: 473px;
  background: rgba(227,227,227,0.5);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v16_3 {
  width: 321px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 111px;
  left: 33px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v16_4 {
  width: 288px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 49px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v16_7 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 26px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v16_9 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 236px;
  left: 26px;
  opacity: 1;
  text-align: justified;
}
.v21_18 {
  width: 404px;
  height: 586px;
  background: url("../images/v21_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1496px;
  left: 863px;
  overflow: hidden;
}
.v15_89 {
  width: 386px;
  height: 586px;
  background: rgba(223,223,223,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v16_11 {
  width: 357px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 14px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 41px;
  opacity: 1;
  text-align: left;
}
.v17_15 {
  width: 404px;
  height: 370px;
  background: url("../images/v17_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 0px;
  overflow: hidden;
}
.v16_14 {
  width: 385px;
  height: 486px;
  background: rgba(227,227,227,0.5);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 1px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v16_12 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 98px;
  left: 22px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v16_13 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 187px;
  left: 29px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v17_16 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 236px;
  left: 22px;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v16_10 {
  width: 472px;
  height: 474px;
  background: url("../images/v16_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9%;
  left: 55%;
  overflow: hidden;
}
.v21_15 {
  width: 100%;
  height: 364px;
  background: url("../images/v21_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2481px;
  left: 61px;
  overflow: hidden;
}
.v18_90 {
  width: 100%;
  height: 56px;
  background: linear-gradient(rgba(235,235,235,0), rgba(235,235,235,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_91 {
  width: 493px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 170px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v18_106 {
  width: 493px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 1460px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v18_96 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 172px;
  overflow: hidden;
}
.v18_97 {
  width: 101px;
  height: 195px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 50px;
}
.v18_100 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 372px;
  overflow: hidden;
}
.v18_101 {
  width: 173px;
  height: 188px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 14px;
}
.v18_102 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 572px;
  overflow: hidden;
}
.v18_103 {
  width: 136px;
  height: 193px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 32px;
}
.v18_107 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 1753px;
  overflow: hidden;
}
.v18_108 {
  width: 200px;
  height: 200px;
  background: url("../images/v18_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_114 {
  width: 200px;
  height: 200px;
  background: url("../images/v18_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_112 {
  width: 200px;
  height: 200px;
  background: url("../images/v18_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_113 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_109 {
  width: 150px;
  height: 200px;
  background: url("../images/v18_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v18_110 {
  width: 115px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
}
.v18_111 {
  width: 150px;
  height: 160px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
}
.v18_115 {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 1553px;
  overflow: hidden;
}
.v18_116 {
  width: 73px;
  height: 27px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 62px;
}
.v18_117 {
  width: 150px;
  height: 160px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 25px;
}
.v21_11 {
  width: 200px;
  height: 42px;
  background: url("../images/v21_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2422px;
  left: 26px;
  overflow: hidden;
}
.v17_89 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Times New Roman;
  font-weight: Bold Italic;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v21_31 {
  width: 100%;
  height: 157px;
  background: url("../images/v21_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.699999988079071;
  position: absolute;
  top: 22px;
  left: 73px;
  overflow: hidden;
}
.v21_32 {
  width: 100%;
  height: 157px;
  background: rgba(207,207,207,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(145,145,145,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v21_33 {
  width: 544px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 69px;
  left: 210px;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.v21_34 {
  width: 130px;
  height: 130px;
  background: url("../images/v21_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 80px;
  overflow: hidden;
}
.v21_35 {
  width: 130px;
  height: 130px;
  background: url("../images/v21_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_36 {
  width: 753px;
  height: 67px;
  background: url("../images/v21_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 907px;
  overflow: hidden;
}
.v21_37 {
  width: 329px;
  height: 48px;
  background: url("../images/v21_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v21_38 {
  width: 309px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v21_39 {
  width: 135px;
  height: 48px;
  background: url("../images/v21_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 349px;
  overflow: hidden;
}
.v21_40 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v21_41 {
  width: 108px;
  height: 48px;
  background: url("../images/v21_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 494px;
  overflow: hidden;
}
.v21_42 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v21_43 {
  width: 131px;
  height: 48px;
  background: url("../images/v21_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 612px;
  overflow: hidden;
}
.v21_44 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_2 {
  width: 728px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3639px;
  left: 953px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_3 {
  width: 697px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3931px;
  left: 280px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4278px;
  left: 280px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_10 {
  width: 389px;
  height: 276px;
  background: url("../images/v65_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3634px;
  left: 350px;
  overflow: hidden;
}
.v65_12 {
  width: 15%;
  height: 10%;
  background: url("../images/v65_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3873px;
  left: 923px;
  overflow: hidden;
}

.v1_3 {
  width: 950px/7890px;
  height: 157px;
  background: rgb(187, 187, 187);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgb(122, 122, 122);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_4 {
  width: 544px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4.5%;
  left: 9%;
  font-family: Times New Roman;
  font-weight: Italic;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.v7_23 {
  width: 130px;
  height: 130px;
  background: url("../images/v7_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 80px;
  overflow: hidden;
}
.v6_6 {
  width: 130px;
  height: 130px;
  background: url("../images/v6_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: -5.4%;
  left: 5%;
  overflow: hidden;
}
.v7_11 {
  width: 950px/7890px;;
  height: 67px;
  background: url("../images/v7_11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2.5%;
  left: 65%;
  overflow: hidden;
}
.v7_13 {
  width: 329px;
  height: 48px;
  background: url("../images/v7_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v7_14 {
  width: 309px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_15 {
  width: 135px;
  height: 48px;
  background: url("../images/v7_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 349px;
  overflow: hidden;
}
.v7_16 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_17 {
  width: 108px;
  height: 48px;
  background: url("../images/v7_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 494px;
  overflow: hidden;
}
.v7_18 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_21 {
  width: 131px;
  height: 48px;
  background: url("../images/v7_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 612px;
  overflow: hidden;
}
.v7_22 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
